body {
    background-color: #F6F8F9;
}
/*Navigation styles*/
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F6F8F9;
    width: 100%;
    z-index: 10px;    
}
.navigationb{
    display: inline-block;
    margin-right: 20px;
}
.logo{
    display: inline-block;
    margin: 20px 92px 17px 20px;
    width: 38px;
    vertical-align: middle;
}
.navbar{
    display: inline-block;
    font-size: 11px;
    vertical-align: middle;    
}
.navbar-face{
    display: inline-block;
    width:30px;
    height: 30px;
    vertical-align: middle;
    margin: 0 0 0 18px;
}
/*section1 styles*/
.section1{
    width: 1160px;
    height: 376px;
    margin: 75px auto;    
}
.header1 {    
    color: #202124;
    padding: 0 0 40px 0;
}
.section1left, .section1right, .section1middle {
    width: 360px;
    height: 360px;
    display: inline-block;    
    background-color: white;
}
.section1middle {
    margin: 0 40px;
}
.section1text {
    width: 352px;
    height: 148px;
    display: inline-block;
    }
.section1images {
    height: 212px;
    width: 360px;
}
.psec1 {
    color: #B1B1B1;
    width: 280px;
    margin: 66px auto;
    }
/*sectopm2 styles*/
.section2{
    width: 1160px;
    height: 900px;
    margin: 75px auto;    
}
.header2 {    
    color: #202124;
    padding: 0 0 40px 0;
}
.section2left, .section2right {
    width: 760px;
    height: 900px;
    display: inline-block;
    line-height: 102px;
    vertical-align: top;
}
.section2right {
    width: 360px;
    margin: 0 0 0 40px;
}
.section2mother{
    position: relative; 
    z-index: 1px;
}
.section2child{
    position: absolute;
    top: 194px;
    right: 250px;
    line-height: 16px;
    color: white;
    
}



