/*section2 styles*/
.header2 {    
    color: #202124;
    padding: 0 0 40px 0;
}
.section2{
    width: 1088px;
    height: 376px;
    margin: 75px auto;    
}
.section2left, .section2right, .section2middle {
    width: 352px;
    height: 360px;
    display: inline-block;
    background-color: #F8F8F8;
}
.section2middle {
    margin: 0 16px;
}
.section2text{
    width: 352px;
    height: 148px;
    display: inline-block;
    background-color: #F8F8F8;
    }
.section2images {
    height: 212px;
    width: 352px;
}
.psec2 {
    color: #B1B1B1;
    width: 280px;
    margin: 66px auto;
    }
.navigationb{
    display: inline-block;    
}
.logo{
    display: inline-block;
}
.navbar{
    display: inline-block;
    
}



